.st-emotion-cache-1kyxreq.e115fcil2{

    display: grid;
    place-items: center;    

}

.st-emotion-cache-1jzia57.e1nzilvr2{

    border: 2px solid #638ea2;
    border-radius: 10px;
    margin-bottom: 50px;
    padding: 10px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.st-emotion-cache-xwtqgq.e1b2p2ww15{
    
    display:grid;
    background-color:#638ea2;
    
}
.st-emotion-cache-u8hs99.e1b2p2ww14 ,.st-emotion-cache-7oyrr6.e1bju1570{

    visibility: collapse;

}
.st-emotion-cache-u8hs99.e1b2p2ww14{

    margin: 0;
}
.st-emotion-cache-qcpnpn.e1f1d6gn0{

    border-color:#638ea2;
    text-align: justify;

}